<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~slb2sn/hw2-cake/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
